body
{
    background-color: rgb(109, 0, 139);
    color: rgb(109, 0, 139);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: rgb(109, 0, 139);;
}

a:hover 
{
    color: rgb(162, 0, 255);
}
.col {
    padding: 4%;
}

.left {
    flex: 3;
}
.right 
{
    flex: 7;
    border-left: 2px solid rgb(109, 0, 139);

}
header, main, footer
{
    background-color: rgb(215, 166, 245);
    border-bottom: 2px; 
    margin: 10%;
   
}
#about 
{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
header 
{ 
    padding: 5%;
}



