@import url("https://use.typekit.net/okd0pji.css");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 239, 216);
    font-family: "apolline", serif;

}

header {
    background-color: saddlebrown;
    padding: 10px
}
header img {
    width: 8rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.flex-item {
    flex: 1;
}


header nav li {
    display: inline;
}

img {
    width: 100%;
}

header input {
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 20px;
    width: 100px;
}

header i {
    width: 20px;
}

header i:hover {
    background-color: rgb(250, 239, 216);;
}

header nav li a {
    color: black;
    padding: 5px;
}

header nav li a:hover {
    color: burlywood;
}

main {
    padding: 20px;
}

video {
    width: 100%;
}

footer {
    padding: 20px;
}

section {
    margin-bottom: 4rem;
}

h2 {
    margin-bottom: 4rem;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 10%;
    left: 25%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(250, 239, 216);
    color: saddlebrown;
}

footer {
    background-color: burlywood;
    padding: 3rem;
}
footer a {
    color: saddlebrown;

}

footer li {
    list-style: none;
}

footer li:first-child a {
    font-weight:900
}

